//extra code


<%  if(kindOfDay === "Saturday" || kindOfDay === "Sunday"){ %>
<h1 style="color: purple"><%= kindOfDay %> ToDo List</h1>
<%    }else { %>
<h1 style="color: blue"><%= kindOfDay %> ToDo List</h1>
<%  }  %>


// var currentDay = today.getDay();
// var day = "";

// if(currentDay === 6 || currentDay === 0){
// day = "Weekend";
// // res.sendFile(__dirname +"/weekend.html");
// }else{
// day = "Weekday";
//
// // res.render("list",{kindOfDay: day});
// // res.sendFile(__dirname +"/weekday.html");
// }

// switch (currentDay) {
// case 0:
// day = "Sunday";
// break;
// case 1:
// day = "Monday";
// break;
// case 2:
// day = "Tuesday";
// break;
// case 3:
// day = "Wednesday";
// break;
// case 4:
// day = "Thursday";
// break;
// case 5:
// day = "Friday";
// break;
// case 6:
// day = "Saturday";
// break;
// default:
// console.log("Error: current day is equal to: " + currentDay);
// }
